@import "tailwindcss";

@font-face {
  font-family: "PoppinsLocal"; /* Use a name that matches the actual font */
  src: url("/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-poppins {
  font-family: "PoppinsLocal", sans-serif;
}

body {
  font-family: "PoppinsLocal", sans-serif;
}
